<html lang="en">
<head>
    <link href="static/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<style>
  body {
    background-image: url('../static/img/login-bulb.jpg');
    background-size: 1350px 850px;
  }
  </style>
    <body>
      <!-- <h1 style="text-align:center;">Docs Denoiser</h1> -->
    	<div class="container">
        <form id="contact" action="/" method="post">
          <h1>Noisy Docs Denoiser</h1>
  			  <h4>Login to see the magic unfold!</h4>
          <fieldset>
            <input type="text" name="username" id="username" placeholder="Username" required/>
          </fieldset>
          <fieldset>
            <input type="text" name="password" id="password" placeholder="Password" required/>
          </fieldset>
          <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Reparo</button>
          </fieldset>
  			</form>
    </div>
    
    {%if users%}
    <div class="users" style="margin-left:20%">
      <h2>Registered Users List</h2>
      <table style="width:100%;">
        {%for user in users%}
          <tr>
            <td>{{user[0]}}</td>
          </tr>   
        {%endfor%}
      </table>
    </div>
    {%endif%}
</body>
</html>